# Ignore everything by default
/*
/.*

# Keep only the folders/files we actually want in git
!/ros2_ws/
!/lerobot_ws/
!.gitignore
!README.md
!/requirements.txt
!/UnityScripts/

# Explicitly ignore virtual environments
.venv/
venv/
env/

# Ignore build and cache junk inside tracked workspaces
**/build/
**/install/
**/log/
**/__pycache__/
**/*.egg-info/
**/*.pyc
lerobot_ws/lerobot_robot_nema_arm/lerobot_robot_nema_arm/lerobot/
# Exclude the analysis repo completely
DigitalTwin-LabRobot_ReposForAnalysis/

# Optional project-specific excludes
Documentary/
Documentary.zip
*.avi
*.pdf
*.odt
dokumente/
wifi/
models/

# Claude local memory
.claude/

# OS
.DS_Store
Thumbs.db